/services/*/node_modules/
/lamda/node_modules/
/.vscode/
.DS_Store
/services/*/dist/
/services/*/.env
/lambda/.env
/lambda/build/
/lambda/*.zip
/terraform/.terraform/
/terraform/.terraform.*
/terraform/*.tfstate
/terraform/*.tfstate.backup